<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
       <add id="Vendor_DynamicRows::dynamic_rows"
            title="Dynamic Rows"
            module="Vendor_DynamicRows"
            sortOrder="100"
            action="bss/row/index/scope/stores"
            parent="Magento_Catalog::catalog_categories"
            resource="Vendor_DynamicRows::dynamic_rows" />
   </menu>
</config>
