<!--@subject {{trans "Custom Email template from %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var name":"",
"var message_1":"Custom Message 1",
"var message_2":"Custom Message 2"
"var store":"Store Data"
} @-->

{{template config_path="design/email/header_template"}}

<h2>{{ $store.frontend_name }}</h2>

{% if ($name) %}
    <h1>{{"Hello . $name}}</h1>;
{% else %}
    <h1>Hello</h1>
{% endif %}

<table>
    <tr class="email-info">
        <td>

            <div>{{trans $message_1}}</div>

            <div>{{trans $message_2}}</div>

        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}

