<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="vendor_clear_cache_by_tags" xsi:type="object">
                    Vendor\CacheClearByTags\Command\RunClearCache
                </item>
            </argument>
        </arguments>
    </type>
</config>
