<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="m2_crud" frontName="m2_crud">
            <module name="M2_CRUD"/>
        </route>
    </router>
</config>
